.leftPart {
    width: 100%;
    height: 100vh;
    padding-left: 24px;
    overflow: scroll;
    position: relative;
}

.tableContainer{
    position: relative;
}

.dragAnchor{
    position: absolute;
    right:0;
    display:inline-block;
    width:4px;
    height:100%;
    background-color:rgb(255, 0, 0);
    opacity: 1;
}

.dragAnchor:hover{
    opacity: 1;
    background-color:black;
}

.rightPanel {
    z-index: 500;
    position: fixed;
}

.mark {
    z-index: 400;
    position: absolute;
    pointer-events: none;
}

.colID {
    margin: 24px 0;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:fit-content;
    height: 24px;
    background-color: aliceblue;

    border-radius: 8px;

    font-size: 12px;
    line-height: 24px;
    text-align: center;
    li {
        list-style: none;
        border-right: 1px solid #dadada;
        display: block;
        height: 24px;
        float: left;
    }
    li:last-child {
        border-right: none;
    }
}

ul {
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;
}

table {
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;
    font-size: 14px;
    border-collapse: collapse;
    input{
        /* 清除默认的输入框样式 */
        -webkit-appearance:none;
        -moz-appearance: none;
        outline: 0;
        /* 设置新的默认样式 */
        padding: 10px 8px;
        font-size: 14px;
        border-style:hidden;
        background-color: transparent;
    }
    th, td {
        box-sizing:border-box;
    }
    
    th {
        background-color: #f5f5f5;
    }
    
    td {
        background-color: white;
    }
        
    /* 左上角第一个单元格的左上圆角 */
    th:first-child {
        border-top-left-radius: 8px;
    }
    
    /* 右上角单元格的右上圆角 */
    th:last-child {
        border-top-right-radius: 8px;
    }
    
    /* 左下角单元格的左下圆角 */
    tr:last-child td:first-child {
        border-bottom-left-radius: 8px;
    }
    
    /* 右下角单元格的右下圆角 */
    tr:last-child td:last-child {
        border-bottom-right-radius: 8px;
    }
}






